@use '../../styles/mixins';
@use '../../styles/_variables.sass';

.container-title {
    width: 100%;
    height: 100px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-title h1.title {
    color: #fff;
    font-size: 5em;
    position: absolute;
}
  
.container-title h1.title:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}
  
.container-title h1.title:nth-child(2) {
    color: #fff;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
}

.situation-status {
    font-size: 1rem;
}

.form-container {
    width: 100%;
}

.form-container .task-form {
    @include mixins.d-column;
    @include mixins.container;
}

.form-container .task-form .title-field,
.form-container .task-form .priority-list {
    @include mixins.container;
    background-color: variables.$bg-secondy-color;
    padding: 1.2rem 0;
    padding-left: 1rem;
    color: variables.$text-secondary-color;
    font-size: 1.2rem;
    border-radius: 30px;
}

.form-container .btn-add {
    font-size: 1.2rem;
    border-radius: 30px;
    width: 100px;
    padding: 1rem 0;
    color: #FFF;
}

.form-container .btn-add.enabled,
.form-edit .btn-modal-add.enable {
    background-color: green;
}

.form-container .btn-add.disabled,
.form-edit .btn-modal-add.disabled {
    background-color: #cecece;
    color: #838080;
    cursor: not-allowed;
}


.form-container .btn-add.enabled:hover {
    background-color: transparent;
    border: 1px solid green;
    color: green;
    transition: .5s;
}

.modal-delete-title {
    color: variables.$text-white !important;
}

/* Nav */
.nav-filter-task {
    width: 100%;
    display: flex;
    align-items: center;
} 

.nav-filter-task ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 30px;
}

.nav-filter-task ul li {
    margin-right: 1rem;
    font-size: 1rem;
    height: 30px;
    transition: .5s linear;
}

.nav-filter-task ul li:hover {
    border-top: 1px solid gold;
    border-bottom: 1px solid gold;
    transition: .5s linear;
    // transform: skew(20deg, 10deg);
    transform: scale(1.2);
    height: 30px;
}

.nav-filter-task ul li button {
    background-color: transparent;
    color: gold;
    height: 30px;
}

.nav-filter-task input {
    border-radius: 5px;
    height: 30px;
}

.filter-by-date-title {
    color: gold;
    font-size: 1rem;
    padding: .4rem 0;
}

.filter-date {
    background-color: transparent;
    color: gold;
    border: 1px solid gold;
    padding: 1rem;
}

.filter-by-name-container {
    width: 100%;
    position: relative;
    padding-top: 1rem;
}

.filter-by-name-container .search-icon {
    position: absolute;
    top: 22px;
    left: 8px;
    font-size: 1.8rem;
}

.filter-by-name-container input.filter-by-name {
    padding: 1rem 2.4rem;
    background-color: transparent;
    color: gold;
    border: 1px solid gold;
    color: gold;
    border-radius: 5rem;
    width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: contrast(0) sepia(100%) hue-rotate(116deg) brightness(1.4) saturate(0.28);
}

.task-list-container {
    width: 100%;
    margin-top: 2.5rem;
    max-height: 350px;
    overflow: auto;
}

/* width */
.task-list-container::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .task-list-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  .task-list-container::-webkit-scrollbar-thumb {
    background:#01141a; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .task-list-container::-webkit-scrollbar-thumb:hover {
    background: #01141a; 
  }

.task-list-container ul {
    list-style: none;
}

.no-tasks {
    font-size: 2rem;
    color: #ccc;
}


.task-list-container ul li {
    width: 100%;
    margin-bottom: 1.2rem;
    background-color: variables.$bg-secondy-color;
    padding: 1.2rem 0;
}

.task-list-container ul li span {
    width: 100%;
}

.task-list-container ul li p span {
    font-size: 1.5rem;
    color: orange;
}

.task-list-container ul li .createAt {
    font-size: 1.2rem;
    margin: 0 32%;
}

.task-list-container ul li .task-item-actions {
    display: flex;
    justify-content: center;
}

.task-list-container ul li .task-item-actions .check-complete {
    width: 18px;
}

.task-list-container ul li .task-item-actions .btn-edit,
.task-list-container ul li .task-item-actions .btn-delele {
    font-size: 2rem;
}

.task-list-container ul li .task-item-actions .btn-delele {
    color: #FF0000;
}


.noAnimate {
    transition: .5s linear;
    opacity: 1;
}

.animate {
    z-index: -1;
    left: 0;
    transition: .5s linear;
    opacity: .5;
    transform: scale(.8) rotate(360deg);
}

/* Editar task */
.form-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
} 

.form-edit .new-title-field,
.form-edit .new-priority-list {
    width: 100%;
    padding: 1.2rem 1rem;
}

.form-edit .new-title-field,
.form-edit .new-priority-list {
    width: 100%;
    padding: 1.2rem 1rem;
}

.form-edit .btn-modal-add,
.form-edit .btn-modal-cancel {
    font-size: 2rem;
}

@media (min-width: 800px) {
    .container-title h1.title {
        font-size: 8em;
    }

    .form-container .task-form {
        flex-direction: row;
        align-items: center;
        border-radius: 50px;
    }

    .form-container .task-form .title-field {
        margin-bottom: 0;
        border-radius: 0;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        width: 45%;
        height: 60px;
        font-size: 1.5rem;
        caret-color: gold;
    }

    .form-container .task-form .priority-list {
        border-radius: 0;
        width: 45%;
        height: 60px;
        font-size: 1.5rem;
    }

    .form-container .task-form .btn-add {
        width: 20%;
        border-radius: 0;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        height: 60px;
        font-size: 1.5rem;
    }

    .task-list-container ul li {
        display: flex;
        justify-content: space-between;
    }

    .task-list-container ul li .task-item-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 1.2rem;
    }

    .task-list-container ul li .task-item-actions {
        display: flex;
        align-items: center;
        padding-right: 1.2rem;
    }

    .task-list-container ul li .task-item-actions .check-complete {
        zoom: 1.6;
    } 

    .task-list-container ul li .task-item-actions .btn-edit, 
    .task-list-container ul li .task-item-actions .btn-delele {
        font-size: 2.2rem;
        cursor: pointer;
    }    

    .task-list-container ul li .createAt {
        font-size: 1.2rem;
        margin: 1rem 0;
    }    
}

